{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-0">
        <div class="card-body p-5">
          <h1 class="card-title text-center mb-4">
            Sign Up for Our Newsletter
          </h1>
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary btn-lg rounded-pill">
                Sign Up
              </button>
            </div>
          </form>
          {% for message in messages %}
          <div class="alert alert-info mt-4 rounded-pill text-center">
            {{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
