{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="containe mb-2">
    <div class="row text-white">
        <div class="col">
            <hr>
            <h1>Shopping Bag</h1>
            <hr>
        </div>
    </div>

    <div class="col">
        {% if bag_products %}
        <div class="table-responsive rounded">
            {{ bag_products }}
        </div>
        {% else %}
        <p class="lead mb-5"> Your bag is empty</p>
        <a href="{% url 'products' %}" class="btn btn-outline-white rouded-0 btn-lg">
            <span class="text-uppercase">Keep shopping</span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}