{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}


<div class="containe mb-2">
    <div class="row text-white">
        <div class="col">
            <hr>
            <h1>Shopping Bag</h1>
            <hr>
        </div>
    </div>

    <div class="col">
        {% if bag_products %}
        <div class="table-responsive rounded">
            <table class="table table-sm table-borderless ">
                <thead class="text-white">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>

                {% for product in bag_products %}
                <tr class="text-white">
                    <td class="p-3 w-25">
                        <a href="{% url 'product_detail'  product.product.product_id %}">
                            {% if product.product.image %}
                            <img class="w-100" src="{{ product.product.image.url }}" alt="{{ product.product.name }}">
                            {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product.name }}">
                            {% endif %}
                        </a>
                    </td>
                    <td class="p-3 ">
                        <p class="my-0"><strong>{{ product.product.name}}</strong></p>
                        <p class="my-0"><strong>Size: </strong>
                            {% if product.product.has_sizes %}
                            {{ product.size|upper }}
                            {% else %}
                            N/A
                            {% endif %}
                        </p>
                    </td>
                    <td class="p-3">
                        <p class="my-0">${{ product.product.price}}</p>
                    </td>
                    <td class="p-3">
                        <form action="{% url 'adjust_bag' product.product.product_id %}" method="POST"
                            class="form update-form">
                            {% csrf_token %}
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ product.product.product_id }}"
                                            id="decrement-qty_{{ product.product.product_id }}">
                                            <span class=" text-white">
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ product.quantity}}" min="1" max="99"
                                        data-item_id="{{ product.product.product_id }}"
                                        id="id_qty_{{ product.product.product_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ product.product.product_id }}"
                                            id="increment-qty_{{ product.product.product_id }}">
                                            <span class=" text-white">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    {% if product.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ product.product.size}}">
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <a href="" class="update-link text-info"><small>Update</small></a>
                        <a class="remove-product text-danger float-right" id="remove_{{ product.product.product_id }}"
                            data-product_size="{{ product.product.size }}"><small>Remove</small></a>

                    <td class="p-3">
                        <p class="my-0">{{ product.product.price | calc_subtotal:product.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6><strong>Bag Total: ${{ total|floatformat:2}}</strong></h6>
                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2}}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger ">
                            You could get free delivery by spending just <strong>{{ free_delivery_delta}}</strong> more!
                        </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <p class="lead mb-5">Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        {% endif %}
    </div>
</div>
</div>


{% endblock %}
{% block postloadjs%}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $(document).ready(function () {
        // Update quantity on click
        $('.update-link').click(function (e) {
            e.preventDefault();
            // selects the immediately preceding sibling element of the clicked link that has the class .update-form
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove the product and reload on click
        // attaches click function to the remove-product when its clicked the code is executed

        $('.remove-product').click(function (e) {
            e.preventDefault();
            // Gets the csrf token from the django template (csrf_token is a security  prevent Cross-Site Request Forgery)
            var csrfToken = "{{ csrf_token }}";
            // Gets the id from from the clicked element
            // it then uses the splits the id attribute as a array and then selects the second element and using the remove_ means there will be only two
            var productId = $(this).attr('id').split('remove_')[1];
            // Gets the size from the clicked element 
            var size = $(this).data('product_size'); // Corrected to 'product_size'
            // Constructs the which the post request will be sent it also includes the productID
            var url = `/bag/remove/${productId}/`;
            // Creates an object data containing  CSRF token and the size of the product. This data will be sent along with the POST request.
            var data = { 'csrfmiddlewaretoken': csrfToken, 'size': size };

            // sends a post request with the url constructed in url and the the data
            // and when the request completes successfully the page reloads using location.reload()
            // which refreshes the page after removing the product
            $.post(url, data)
                .done(function () {
                    location.reload();
                })
        });

    });
</script>

{% endblock %}