{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Terms and Conditions</h1>

    <!-- Terms and Conditions Content -->
    <div class="mt-4">
        <h2>1. Introduction</h2>
        <p>Welcome to Celeb Gems! These terms and conditions outline the rules and regulations for the use of our
            website, located at https://celeb-gems-99c19655d59c.herokuapp.com/.</p>
        <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Celeb Gems
            if you do not agree to take all of the terms and conditions stated on this page.</p>

        <h2>2. Cookies</h2>
        <p>We employ the use of cookies. By accessing Celeb Gems, you agreed to use cookies in agreement with the Celeb
            Gems's Privacy Policy.</p>
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used
            by our website to enable the functionality of certain areas to make it easier for people visiting our
            website. Some of our affiliate/advertising partners may also use cookies.</p>

        <h2>3. License</h2>
        <p>Unless otherwise stated, Celeb Gems and/or its licensors own the intellectual property rights for all
            material on Celeb Gems. All intellectual property rights are reserved. You may access this from Celeb Gems
            for your own personal use subjected to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
            <li>Republish material from Celeb Gems</li>
            <li>Sell, rent, or sub-license material from Celeb Gems</li>
            <li>Reproduce, duplicate or copy material from Celeb Gems</li>
            <li>Redistribute content from Celeb Gems</li>
        </ul>

        <h2>4. Content Liability</h2>
        <p>We shall not be held responsible for any content that appears on your website. You agree to protect and
            defend us against all claims that are rising on your website. No link(s) should appear on any website that
            may be interpreted as libelous, obscene, or criminal, or which infringes, otherwise violates, or advocates
            the infringement or other violation of, any third party rights.</p>

        <h2>5. Reservation of Rights</h2>
        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve
            to immediately remove all links to our Website upon request. We also reserve the right to amend these terms
            and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be
            bound to and follow these linking terms and conditions.</p>

        <h2>6. Disclaimer</h2>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions
            relating to our website and the use of this website. Nothing in this disclaimer will:</p>
        <ul>
            <li>limit or exclude our or your liability for death or personal injury</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law</li>
        </ul>

        <h2>7. Variation of Terms</h2>
        <p>We are permitted to revise these terms at any time as we see fit, and by using this website you are expected
            to review these terms on a regular basis.</p>

        <h2>8. Governing Law & Jurisdiction</h2>
        <p>These terms will be governed by and interpreted in accordance with the laws of the State of Kuwait, and you
            submit to the non-exclusive jurisdiction of the state and federal courts located in Kuwait for the
            resolution of any disputes.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms and Conditions, You can contact us:</p>
        <ul>
            <li>By email: ramsey451@gmail.com</li>
        </ul>
    </div>
</div>

{% endblock %}