{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center my-3">Edit Profile </h1>
            <hr>
            <form class="mb-3" action="{% url 'edit_profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success mt-3 rounded-0" type="submit">Update User Profile</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary btn rounded-0 mt-3 ">Back to
                    Profile</a>

            </form>
        </div>
    </div>
</div>

{% endblock %}