/* Home Page */
body {
  min-height: 1000px;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/media/header-background.jpg") center center no-repeat;
  background-size: cover;
}

.carousel-item img {
  max-height: 500px; /* Set the maximum height as needed */
  max-width: 200%; /* Set the maximum width to maintain aspect ratio */
  object-fit: cover;
}
