html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  max-height: 500px;
  max-width: 200%;
  object-fit: cover;
}

/* Main Css for most pages */

.header-style {
  color: white;
}

/* product detail */
.cards-wrapper {
  display: flex;
}

/* Bag.html */
/* Update and remove cursor  */

.update-link,
.remove-product {
  cursor: pointer;
}
