{% extends "base.html" %}
{% load static %}





{% block content %}


<section class="container-fluid">
    <div class="row text-white">
        <div class="col-md-6">
            <div class="image-container">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image_url }}" alt="{{ product.name}}" ">
                </a>
            </div>
        </div>
        <div class=" col-md-6">
                    <h2 class="my-5">{{ product.name}}</h2>
                    <p class="my-5">{{ product.description }}</p>
                    <button type="button" class="btn btn-danger text-center" disabled>${{ product.price }}</button>
                    <div class="d-flex flex-column my-5">
                        <button class="btn btn-primary mb-3">Add to cart</button>
                        <button class="btn btn-primary">Add to cart</button>
                    </div>
            </div>
        </div>


        <!-- product specifications  -->
        <div class="row my-5 text-white">
            <div class="col-12">
                <h1>Product Specifications</h1>
                <p class="lead">{{ product.product_specifications}}</p>
            </div>
        </div>

        <!-- Availability and Shipping Information -->
        <div class="row my-5 text-white">
            <div class="col-12">
                <h1>Availability and Shipping Information</h1>
                <p class="lead">{{ product.availability_shipping_info }}</p>
            </div>
        </div>


        <!-- other products from the celeb -->
        {% for product in celeb_profile_products %}
        <div class="row my-5">
            <div class="col-12">
                <h1>Other products by this {{ product.celeb_profile}}</h1>




                <h1>{{ product.name}}</h1>

            </div>
        </div>
        {% endfor %}

</section>




{% endblock %}