{% extends "base.html" %}
{% load static %}





{% block content %}

<section>
    <div class="container text-center pt-3">
        <h1 class="text-white mb-5"><strong>Products</strong></h1>

        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card border-0 rounded-0 shadow">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                    <img src="{% static 'placeholder_image.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <p class="mb-0">$ {{ product.price }}</p>
                            </div>
                            <div class="col-6">
                                <a href="{}" class="btn btn-dark w-100 rounded-0 text-warning">PRODUCT DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>


{% endblock %}