{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

<div class="row">
    <div class="col-12 text-center text-white my-5 px-5 ">
        <h1 class="">Add a product to your profile </h1>
        <hr>
        <p class="lead">Fill out the form below to add a product to your profile. Once added, your product will be
            visible to all users. Make sure to provide accurate information to attract potential buyers.</p>
    </div>
</div>

<form class="text-white" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success my-3" type="submit">Add Product</button>
</form>

{% endblock %}