{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1 class="display-4 my-5">Welcome to Your Celeb Profile</h1>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ celeb_profile.image.url }}" alt="{{ celeb_profile.profile_name }}"
                class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8 text-center">
            <h2 class="my-4">{{ celeb_profile.profile_name }}</h2>
            <h4 class="mb-3">Long Bio:</h4>
            <p>{{ celeb_profile.bio }}</p>

            <h4 class="mb-3">Short Bio:</h4>
            <p>{{ celeb_profile.small_bio }}</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="">
            <a href="{% url 'edit_celeb_profile' %}" class="btn btn-dark btn-lg mb-3">Edit Celeb Profile</a>
        </div>


        <div class="">
            <a href="{% url 'add_product' %}" class="btn btn-dark btn-lg">Add Product</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <h1 class="mb-4">Products you added to your Profile</h1>
        <p><strong>Important Note:</strong> Our stock feature is currently under development. As a result, users may be
            able to add more items to their cart than the available stock. We apologize for any inconvenience this may
            cause and appreciate your understanding as we work to improve our system.</p>
        <hr>
        {% for product in products_added %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text flex-grow-1">{{ product.description }}</p>
                    <div class="btn-group mt-auto" role="group">
                        <a href="{% url 'edit_product' product.product_id %}" class="btn mx-2 btn-dark">Edit</a>
                        <form action="{% url 'delete_product' product.product_id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" onclick="return confirmDelete()"
                                type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>
<br>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    function confirmDelete() {
        // Display confirmation dialog
        return confirm("Are you sure you want to remove this product from your profile ?");
    }
</script>
{% endblock %}