{% extends "base.html" %}
{% load static %}



{% block content %}


<div class="container">

    <div class="row text-white text-center">
        <h1 class="lead my-5">This information will be displayed when the user clicks on your profile</h1>
        <hr>
    </div>
    <div class="row text-white">
        <h1 class="my-5">Celeb Profile for <strong> {{ celeb_profile.profile_name}} </strong></h1>
        <p class="lead">{{ celeb_profile.bio}}</p>
    </div>

    <a href="{% url 'edit_celeb_profile' %}">
        <button class=" text-white btn btn-outline-dark">Edit Celeb Profile</button>
    </a>

    <a href="{% url 'add_product' %}">
        <button>Add product</button>
    </a>

</div>

<div class="container">
    <div class="row my-5 text-white ">
        <h1>Products you added to your Profile </h1>
        <hr>

        <div class="row">
            {% for product in products_added %}
            <h1>{{ product.name }}</h1>
            <p>{{ product.description}}</p>
            <img src="{{ product.image_url }}" class="bd-placeholder-img card-img-top">
            <a href="{% url 'edit_product' product.product_id %}" class="btn btn-sm btn-outline-secondary">Edit</a>

            <form action="{% url 'delete_product' product.product_id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}