{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h1 class="lead my-5">This information will be displayed when the user clicks on your profile</h1>
        <hr>
    </div>
    <div class="row">
        <img src="{{celeb_profile.imgage.url }}" ">

        <h1 class=" my-5">Celeb Profile for <strong>{{ celeb_profile.profile_name }}</strong></h1>
        <h3 class="mb-2">Long Bio:</h3>
        <p class="lead">{{ celeb_profile.bio }}</p>

        <h3 class="mb-2">Short Bio:</h3>
        <p class="lead">{{ celeb_profile.small_bio }}</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <a href="{% url 'edit_celeb_profile' %}" class="btn btn-dark btn-lg mb-3 ">Edit Celeb
                Profile</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'add_product' %}" class="btn btn-dark btn-lg">Add Product</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <h1 class="mb-4">Products you added to your Profile</h1>
        <hr>
        {% for product in products_added %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text flex-grow-1">{{ product.description }}</p>
                    <div class="btn-group mt-auto" role="group">
                        <a href="{% url 'edit_product' product.product_id %}" class="btn mx-2 btn-dark">Edit</a>
                        <form action="{% url 'delete_product' product.product_id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>
<br>
{% endblock %}