{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card bg-light p-4">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-4">Edit <strong>{{ product.name }}</strong> Celeb Profile</h1>
                    <hr class="bg-dark">
                    <p class="lead">Make your desired changes below. Your updates will be saved once you submit the
                        form.</p>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            {{ form|crispy }}
                        </div>
                        <button class="btn btn-success btn-block" type="submit">Edit {{ product.name }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}