{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-10 text-center">
            <h1 class="display-4">Edit Celebrity Profile</h1>
            <hr class="bg-light">
            <p class="lead">Fill out the form below to edit your profile. Once Edited, your profile will be
                visible to all users. Make sure to provide accurate information to attract potential buyers.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="card bg-light p-4">
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-block" type="submit">Edit Celebrity Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}