{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Edit Your Celebrity Profile</h2>
                    <form method="POST" class="my-5" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_profile_name" class="form-label">Profile Name</label>
                            <input type="text" class="form-control" id="id_profile_name" name="profile_name"
                                value="{{ form.profile_name.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_bio" class="form-label">Bio</label>
                            <input type="text" class="form-control" id="id_bio" name="bio" value="{{ form.bio.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_small_bio" class="form-label">Small Bio</label>
                            <textarea class="form-control" id="id_small_bio"
                                name="small_bio">{{ form.small_bio.value }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="id_image" class="form-label">Image</label>
                            <input type="file" class="form-control" id="id_image" name="image">
                        </div>
                        <button class="btn btn-success my-3" type="submit">Edit Celebrity Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}